torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
transformers
Pillow
numpy<2.0
opencv-python
# For CLIP:
ftfy
regex
tqdm
wandb
git+https://github.com/openai/CLIP.git
fastapi
python-multipart
jinja2
uvicorn
nltk
rouge